# HELP server_baseline_info Which baseline version this server runs (value is always 1).
# TYPE server_baseline_info gauge
server_baseline_info{version="{{ node_exporter_baseline_version }}",kind="{{ 'container' if node_exporter_in_container | bool else 'machine' }}",os="{{ ansible_facts['distribution'] }} {{ ansible_facts['distribution_version'] }}"} 1
